
.button-big {
  font-size: 30px !important;
}

.button-lemonzgreen {
  background-color: #324b1b !important;
  // color: white;
  margin-top: 20px;
  // border-radius: 5px;
  // text-decoration: none;
}

.button-medium {
  font-size: 15px !important;
  margin-right: 20px;
}

h1, p {
  // margin-left: 50px;
}

.font-white {
  color: white;
  font-size: 30px;
}
