
.button-big {
  font-size: 30px !important;
}

.button-lemonzgreen {
  background-color: #324b1b !important;
  // color: white;
  margin-top: 20px;
  border-radius: 5px;
  // text-decoration: none;
}

.button-medium {
  background-color: #d9e7e3;
  font-size: 15px !important;
  margin-right: 20px;
  border-radius: 5px;
}

h1, a {
  font-family: "Roboto Mono" !important;
  // "Nunito", "Helvetica", "sans-serif"
}

// this doesn't seem to be working, not sure why, check later
p {
  font-family: "Noto Sans Mono" !important;
  // "Nunito", "Helvetica", "sans-serif"
}

.margin-left {
  margin-left: 200px;
}

h1, p {
  // margin-left: 50px;
}

.font-white {
  color: white;
  font-size: 30px;
}
