 <footer>
    <p>&copy; 2024 LEMONZ. All rights reserved.</p>
    <ul>
      <li><%= link_to 'Terms & Conditions', terms_path %></li>
      <li><%= link_to 'Privacy Policy', privacy_path %></li>
    </ul>
    <div>
      <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
      <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
      <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
      <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
    </div>
  </footer>
