<h1>Dashboard</h1>

<h2>All Bookings</h2>
<% @bookings.each do |booking| %>
  <p><strong>Start Day:</strong> <%= booking.start_date %></p>
  <p><strong>End Day:</strong> <%= booking.end_date %></p>
  <p><strong>Offer:</strong> <%= booking.offer.company %></p>
  <hr>
<% end %>

<%= link_to "Dashboard", dashboard_path %>

