<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms and Conditions </title>
   <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f5f5f5;
      color: #333;
      margin: 20px;

    }

    .legal-container {
      max-width: 600px;
      margin: 0 auto;
      text-align: justify;
      font-family: 'Arial', sans-serif;
    }

    h1 {
      color: #324b1b:
    }

    p {
      margin-bottom: 15px;
    }
  </style>
</head>
<body>

<div class="legal-container">
  <h1>Terms and Conditions for a Sparkling Experience</h1>

  <p>Welcome to LEMONZ, where we believe a clean space is a happy place! By choosing our cleaning services, you're not just getting a clean home; you're signing up for a bundle of joy and laughter. Here are the sunny-side-up terms:</p>

  <ol>
    <li>If you catch our cleaners dancing while they work, they're just adding some groove to your space. It's a free feature.</li>
    <li>We guarantee that our cleaners are experts at finding lost items. Your missing sock from 2019? Expect it to make a triumphant return!</li>
    <li>Your privacy is our top priority—locked tighter than a clean jar of pickles. Your secrets are safe with us.</li>
    <li>We're committed to 100% customer satisfaction. If you're not happy, we'll re-clean until you're doing cartwheels in your spotless living room.</li>
  </ol>

  <p>Thank you for trusting LEMONZ! We're on a mission to make your home sparkle and bring joy with every scrub, sweep, and mop. Let the cleaning happiness begin!</p>

  <%= link_to "Back to Home", root_path, class: "btn btn-success btn-sm button-lemonzgreen" %>

</div>

</body>
</html>
