.banner{
  background-size: cover;
  background-position: center;
  padding: 300px;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.banner2 {
  background-size: cover;
  background-repeat: no-repeat;
}

.home-container {
  position: left;
  transform: translate(-50%, -100%);
  text-align: center;
  color: black;
  margin-left: 100px;
}
