/* app/assets/stylesheets/pages/offers.scss */

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set height to full viewport height */
}

.createform-container {
  width: 50%;
  padding: 20px;
  background-color: #fff67e; /* Add a semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}

.booking-container {
  width: 100%; /* Adjust as needed */
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #fff67e;
    color: #324b1b;
    border-color: #324b1b;
  }
}

.btn-primary {
  color: #fff67e;
  background-color: #324b1b;
  border: 1px solid #fff67e;
}

.btn-secondary {
  color: #fff67e;
  background-color: #324b1b;
  border: 1px solid #fff67e;
}

/* Additional styles for your form elements can be added here */
