.navbar-lewagon {
  justify-content: space-between;
  background:  #324b1b;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 150px;
}

// h1 {
//   font-size: 200em;
// }

.lead {
  font-size: 150em;

}

// body {
//   text-align: center;
//   margin: 0;
//   padding: 0;
// }
